.idea

#Lab 1
/Lab01/.idea
/Lab01/BookLibrary/bin
/Lab01/BookLibrary/obj
/Lab01/Sample/obj

#Lab 2
/Lab02_BookAndBorrower/BookAndBorrower/bin
/Lab02_BookAndBorrower/BookAndBorrower/obj

#Lab 3
/Lab03_WebApi/BookManagement/bin
/Lab03_WebApi/BookManagement/obj

#Lab 4
/ProductsManagement/.idea
/ProductsManagement/ProductsManagement/bin
/ProductsManagement/ProductsManagement/obj
